@model LCSAP_LC.Models.Student

@{
    ViewBag.Title = "Unenroll";
}

<h2>Unenroll</h2>

<h3>Are you sure you want to unenroll this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_MName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_MName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_LastName)
        </dd>

        <dt>
            CRN Number
        </dt>

        <dd>
            @ViewBag.CRN_Id
        </dd>

        <dt>
           Course
        </dt>

        <dd>
            @ViewBag.Course_Id
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Unenroll" class="btn btn-default" /> |
        </div>
        <div>@Html.ActionLink("Back to Details", "Details", new { id = Model.Student_Id }) |</div>
    }
</div>
